<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<script src="../../public/script.js"></script>



<form id="playerEditForm" data-id="<?php echo $player["id"]; ?>">
  <div class="form-group">
    <label for="player">Player</label>
    <input name="player" type="text" class="form-control" id="player" value="<?php echo $player["player"]; ?>">
  </div>
  <div class="form-group">
    <label for="position">Position</label>
    <input name="position" type="text" class="form-control" id="position" value="<?php echo $player["position"]; ?>">
  </div>
  <button type="submit" class="btn btn-primary">Edit Player</button>
</form>
